.children_railway {
    display: inline-flex;
    width: 1224px;
    margin-right: 10px;
    margin-bottom: 100px;
    /* grid-column: 3/7; */
    grid-row: 1/2;
    flex-direction: column;
    anchor-name: --children_railway;
}

.nav .aboutUs a {
    color: black;
    border-bottom: 3px solid var(--darck_blue);
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    padding-top: 70px;
}



.headCR,
.br,
.header_values {
    background-color: var(--red);
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.headCR h1,
.br h1,
.header_values {
    color: white;
    padding: 8px;
}

.contentCR,
.become_railway {
    padding: 20px;
    margin-top: 10px;
    padding-bottom: 35px;
    background-color: var(--darck_blue);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.old_photo,
.new_photo {
    width: 555px;
    height: 305px;
    border: 2px solid rgb(255, 255, 255);
}

.therstBlock,
.secondBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.therstBlock div,
.secondBlock div {
    width: 555px;
    background-color: white;
    border-radius: 20px;
}

.therstBlock p,
.secondBlock p {
    margin: 20px;
}

.new_photo,
.old_photo {
    overflow: hidden;
    inset: 0;
}

.new_photo img,
.old_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.old_photo {
    anchor-name: --p1;
}

.link_Photo {
    position: absolute;
    position-anchor: --p1;
    position-area: bottom center;
    transform: translateY(-50%);
    max-width: 200px;
    height: 40px;
    text-align: center;
    font-size: 24px;
}

.link_Photo a {
    text-decoration: none;
    color: black;
    position: relative;
    top: 5px;
}

.link_Photo_Two {
    position: absolute;
    position-anchor: --p2;
    position-area: bottom center;
    transform: translateY(-50%);
    max-width: 200px;
    height: 40px;
    text-align: center;
    font-size: 24px;
}

.link_Photo_Two a {
    text-decoration: none;
    color: black;
    position: relative;
    top: 5px;
}

.new_photo {
    anchor-name: --p2;
}

.How_to_find_us {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0px 40px 20px 0px;
    background-color: var(--darck_blue);
    border: 20px solid var(--darck_blue);
    max-width: 1200px;
    grid-row: 2/3;
}

.namedFU {
    position: absolute;
    top: -86px;
    left: -20px;
    background-color: var(--red);
    padding: 10px 10px 0px 10px;
    border-top: 20px solid var(--darck_blue);
    border-right: 20px solid var(--darck_blue);
    border-top-right-radius: 20px;
}

.namedFU {
    color: white;
}

.firstFU {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.imgFU {
    /* width: 2500px; */
    height: 300px;
    border-radius: 20px;
    border: 2px solid white;
    overflow: hidden;
    inset: 0;
}

.imgFU img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textFU {
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    max-width: 800px;
}

.secondFU {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.textIL {
    display: grid;
    position: relative;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
    margin-left: 0px;
    width: 43%;
}

.location:nth-child(odd) {
    text-align: left;
    border-bottom: 1px solid black;
}

.location:nth-child(odd) p {
    background-color: var(--green);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.location:nth-child(even) {
    text-align: right;
}

.location:nth-child(even) p {
    background-color: var(--white_green);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}

.most_import_text {
    font-weight: 600;
    font-size: 19px;
}

.scheme {
    position: relative;
    width: 650px;
    height: 300px;
    border: 3px solid white;
    border-radius: 20px;
    overflow: hidden;
    inset: 0;
    margin-right: 10px;
}

.scheme>img {
    position: absolute;
    width: 100%;
    height: 100%;
}


.become_railway p {
    color: #dbdbdb;
}

.become_railway {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 390px;
    height: 510px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

.linkBR {
    position: relative;
    background-color: var(--red);
    padding: 10px;
    right: -20px;
    bottom: -2px;
    margin-top: 20px;
}

.linkBR p {
    color: white;
}

.br {
    margin-bottom: 17px;
}


.block_values {
    padding-top: 60px;
    max-width: 80%;
    margin: 0 auto;
    grid-column: 2/3;
    grid-row: 2/3;
}

.Values div {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    min-width: 240px;
}

.header_values {
    margin-top: 40px;
}

.header_values {
    margin-top: 40px;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header_values h1 {
    color: white;
    padding: 8px;
    margin: 0;
}

.Values {
    display: flex;
    background-color: var(--darck_blue);
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.value {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    box-sizing: border-box;
    position: relative;
    transition: background-color 0.3s cubic-bezier(0.45, -0.34, 0.96, 0.93);
}

.hidevalue {
    display: none;
}

.value::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: var(--red);
    border-radius: 50%;
}


.value:hover {
    border: none;
    cursor: pointer;
    padding: 0px;
    transform: scale(1.2);
    transition: transform 0.3s ease-out;
    Z-index: 11;

    .hidevalue {
        display: inline-block;
        position: absolute;
    }

}

.value:hover>p {
    display: none;
    padding: 0px;
    margin: 0px;
}

.value:hover::before {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    background-color: var(--green);
}

@media (max-width: 1890px) {
    .textFU {
        max-width: 500px;
    }

    .secondFU {}

    .firstFU {
        max-width: 1000px;
    }

    .How_to_find_us {
        max-width: 1000px;
    }

    .textIL {}

    .block_values {
        min-width: 100%;
        position: relative;
        right: 100px;
    }

}

@media (max-width: 1758px) {
    .block_values {
        grid-row: 3/4;
        grid-column: 1/3;
        max-width: 800px;
        min-width: 0px;
    }

    .become_railway {
        grid-row: 2;
        position: absolute;
        position-anchor: --find_us;
        position-area: right;
    }

    .How_to_find_us {
        anchor-name: --find_us;
        grid-column: 1/3;
    }
}

@media (max-width:1501px) {
    .become_railway {
        grid-row: 3/4;
        position: relative;
        grid-column: 1/2;
        anchor-name: --becom;
        right: 340px;
        left: -290px;
    }

    .block_values {
        position: absolute;
        position-anchor: --becom;
        position-area: right;
        left: 50px;
    }


}

@media (max-width:1223px) {

    .therstBlock,
    .secondBlock {
        display: flow;
                text-align: -webkit-center;
    }

    .old_photo {
        margin-bottom: 32px;
    }

    .headCR {
        max-width: 640px;
    }

    .contentCR {
        max-width: 600px;
    }

    .become_railway {
        grid-column: 1;
        grid-row: 1;
        position: absolute;
        position-anchor: --children_railway;
        position-area: right;
        right: 0px;
        left: 0px;
    }

    .block_values {
        position: relative;
        grid-column: 1;
    }

    .children_railway {
        grid-column: 1;
        position: relative;
        max-width: 640px;
    }
}