*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
}
:root{
    --red: #E31E29;
    --darck_blue: #003C58;
    --white_blue: #B0DBF6;
    --green: #658A42;
    --white_green: #A8CD78;
}
.head{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 350px;
}
.logo img{
    width: 100%;
}
.nav {
    position: relative;
    display: flex;
    border-bottom: 4px solid black;
    border-top-left-radius: 42px;
    padding-bottom: 5px;
}
.nav div {
    margin: 10px;
    margin-inline: 3px;
    margin-bottom: 0;
    border: 1px solid black;
    border-bottom: none;
    font-size: 16px;
    padding: 17px 10px;
    background-color: #efefef;
    border-radius: 0;
}
.nav div:first-child {
    border-top-left-radius: 42px;
}
.nav div a {
    color: var(--darck_blue);
    text-decoration: none;
}

.aboutUs {
  position: relative;
  overflow: hidden;
  inset: 0;
}

.aboutUs .decoration-before {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 33px;
  height: 34px;
  background-color: var(--white_blue);
  border-bottom-right-radius: 17px;
  z-index: 2;
}

.aboutUs .decoration-after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: var(--darck_blue);
  z-index: 0;
}

.aboutUs .extra-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 10px;
  background-color: var(--red);
  z-index: 1;
}
.aboutUs .extra-2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 37px;
  height: 38px;
  background-color: var(--red);
  border-bottom-right-radius: 17px;
  z-index: 1;
}

.passengersNav,.studentsNav,.inf_Secuerty{
  position: relative;
  overflow: hidden;
  inset: 0;
}
.passengersNav .decoration-before2,.studentsNav .decoration-before3,.inf_Secuerty .decoration-before4{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background-color: var(--darck_blue);
  z-index: 0;
}
.passengersNav .decoration-after2, .studentsNav .decoration-after3,.inf_Secuerty .decoration-after4{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 10px;
  background-color: var(--red);
  z-index: 1;
}
.aboutUs .wheels{
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    left:10px;
    width: 30px;
    height: 10px;
    background-color: white;
    z-index: 1;
}
.aboutUs .wheels .wheels1{
    position: absolute;
    border-radius: 50%;
    bottom: 2px;
    left: 5px;
    width: 7px;
    height: 7px;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}
.aboutUs .wheels .wheels2{
    position: absolute;
    border-radius: 50%;
    bottom: 2px;
    left: 5px;
    width: 7px;
    height: 7px;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}

.aboutUs a {
  position: relative;
  z-index: 2; 
}

.nav .wheels-container,.nav .wheels-container2,.nav .wheels-container3,.nav .wheels-container4,.nav .wheels-container5,.nav .wheels-container6,.nav .wheels-container7 {
    position: absolute;
    background-color: white;
    border: none;
    bottom: 0px;
    border-radius: 10px;
    left: 18px;
    width: 30px;
    height: 10px;
    z-index: 10;
}
.nav .wheels-container{
    left: 14px;
}
.nav .wheels-container2{
    left: 117px;
}
.nav .wheels-container3{
    left: 189px;
}
.nav .wheels-container4{
    left: 238px;
}
.nav .wheels-container5{
    left: 325px;
}
.nav .wheels-container6{
    left: 375px;
}
.nav .wheels-container7{
    left: 444px;
}

.wheels {
    background-color: white;
    position: relative;
    top: 11px;
    left: -1px;
}

.wheels1, .wheels2,.wheels3, .wheels4,.wheels5,.wheels7,.wheels9,.wheels11,.wheels13,.wheels6,.wheels8,.wheels10,.wheels12,.wheels14 {
    position: absolute;
    bottom: 0px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}
.block_Wheels{
    position: absolute;
    top: -13px;
    left: -2px;
    width: 35px;
    height: 5px;
    background-color: #003C58;
    z-index: 10;
}

.wheels1,.wheels3,.wheels5,.wheels7,.wheels9,.wheels11,.wheels13{
    left: 3px;
}

.wheels2,.wheels4,.wheels6,.wheels8,.wheels10,.wheels12,.wheels14{
    left: 16px;
}
