*{
    margin: 0;
    padding: 0;
    text-align: center;
}
main{margin: 50px;}

main div{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}
main div h3{
    color: white;
    padding-block: 18px;
    background-color: var(--darck_blue);
    max-width: 40%;
    min-width: 350px;
}
h1{
    margin-bottom: 41px;
}